//colors
$color_manatee_approx: #9197a3;
$color_french_gray_approx: #bdc1c9;
$seashell: #f1f1f1;
$white: white;

.DraftEditor-editorContainer {
  height: inherit;
  text-align: initial;
  background-color: rgba(255,255,255,0);
  border-left: .1px solid transparent;
  position: relative;
  z-index: 1;
}
.DraftEditor-root {
  height: inherit;
  text-align: initial;
  position: relative;
}
.public-DraftEditor-content {
  height: inherit;
  text-align: initial;
}
.public-DraftEditor-block {
  position: relative;
}
.DraftEditor-alignLeft {
  .public-DraftStyleDefault-block {
    text-align: left;
  }
  .public-DraftEditorplaceholder-root {
    left: 0;
    text-align: left;
  }
}
.DraftEditor-alignCenter {
  .public-DraftStyleDefault-block {
    text-align: center;
  }
  .public-DraftEditorplaceholder-root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
.DraftEditor-alignRight {
  .public-DraftStyleDefault-block {
    text-align: right;
  }
  .public-DraftEditorplaceholder-root {
    right: 0;
    text-align: right;
  }
}
.public-DraftEditorplaceholder-root {
  color: $color_manatee_approx;
  position: absolute;
  z-index: 0;
}
.public-DraftEditorplaceholder-hasFocus {
  color: $color_french_gray_approx;
}
.DraftEditorplaceholder-hidden {
  display: none;
}
.public-DraftStyleDefault-block {
  position: relative;
  white-space: pre-wrap;
}
.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left;
}
.public-DraftStyleDefault-rtl {
  direction: rtl;
  text-align: right;
}
.public-DraftStyleDefault-listLTR {
  direction: ltr;
}
.public-DraftStyleDefault-listRTL {
  direction: rtl;
}
.public-DraftStyleDefault-ol {
  margin: 16px 0;
  padding: 0;
}
.public-DraftStyleDefault-ul {
  margin: 16px 0;
  padding: 0;
}
.public-DraftStyleDefault-depth0 {
  &.public-DraftStyleDefault-listLTR {
    margin-left: 1.5em;
  }
  &.public-DraftStyleDefault-listRTL {
    margin-right: 1.5em;
  }
  &.public-DraftStyleDefault-reset {
    counter-reset: ol0;
  }
}
.public-DraftStyleDefault-depth1 {
  &.public-DraftStyleDefault-listLTR {
    margin-left: 3em;
  }
  &.public-DraftStyleDefault-listRTL {
    margin-right: 3em;
  }
  &.public-DraftStyleDefault-reset {
    counter-reset: ol1;
  }
}
.public-DraftStyleDefault-depth2 {
  &.public-DraftStyleDefault-listLTR {
    margin-left: 4.5em;
  }
  &.public-DraftStyleDefault-listRTL {
    margin-right: 4.5em;
  }
  &.public-DraftStyleDefault-reset {
    counter-reset: ol2;
  }
}
.public-DraftStyleDefault-depth3 {
  &.public-DraftStyleDefault-listLTR {
    margin-left: 6em;
  }
  &.public-DraftStyleDefault-listRTL {
    margin-right: 6em;
  }
  &.public-DraftStyleDefault-reset {
    counter-reset: ol3;
  }
}
.public-DraftStyleDefault-depth4 {
  &.public-DraftStyleDefault-listLTR {
    margin-left: 7.5em;
  }
  &.public-DraftStyleDefault-listRTL {
    margin-right: 7.5em;
  }
  &.public-DraftStyleDefault-reset {
    counter-reset: ol4;
  }
}
.public-DraftStyleDefault-unorderedListItem {
  list-style-type: square;
  position: relative;
  &.public-DraftStyleDefault-depth0 {
    list-style-type: disc;
  }
  &.public-DraftStyleDefault-depth1 {
    list-style-type: circle;
  }
}
.public-DraftStyleDefault-orderedListItem {
  list-style-type: none;
  position: relative;
  &:before {
    content: counter(ol0) ". ";
    counter-increment: ol0;
  }
  &.public-DraftStyleDefault-listLTR:before {
    left: -36px;
    position: absolute;
    text-align: right;
    width: 30px;
  }
  &.public-DraftStyleDefault-listRTL:before {
    position: absolute;
    right: -36px;
    text-align: left;
    width: 30px;
  }
  &.public-DraftStyleDefault-depth1:before {
    content: counter(ol1) ". ";
    counter-increment: ol1;
  }
  &.public-DraftStyleDefault-depth2:before {
    content: counter(ol2) ". ";
    counter-increment: ol2;
  }
  &.public-DraftStyleDefault-depth3:before {
    content: counter(ol3) ". ";
    counter-increment: ol3;
  }
  &.public-DraftStyleDefault-depth4:before {
    content: counter(ol4) ". ";
    counter-increment: ol4;
  }
}
.rdw-editor-main {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.rdw-editor-toolbar {
  padding: 6px 5px 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  border: 1px solid $seashell;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: $white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
}